.top-margin {
    margin-top: 10%;
}

.container {
    max-width: 1366px;
}

/* Typography */
body {
  font-size: 4em;
  font-family: 'Roboto Mono', monospace;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300;
}

h1 {
  font-size: 4.5em;
  font-weight: 400;
}
