/* text */
p, h1, h2, a {
    background-color: #fff;
    font-family: monospace;
    color: #000;
    padding: .3em;
}
h1 {
    font-size: 2em;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
a {
    font-weight: bold;
}
section {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 30%; 
}
.credit {
    position: absolute;
    bottom: 2%;
    left: 5%;
}
@media (min-width: 180px) and (max-width: 319px) {
    section {
        width: 100%;
    }
    .credit {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 555px) { 
    section {
        width: 80%;
    }
    .credit {
        width: 50%;
    }
}
@media (min-width: 556px) and (max-width: 767px) { 
    section {
        width: 70%;
    }
    .credit {
        width: 40%; 
    }
}
@media (min-width: 768px) and (max-width: 979px) { 
    section {
        width: 55%;
    }
    .credit {
        width: 25%; 
    }
}
