section {
    background-color: rgba(255,255,255,.5);
    padding: 20px;
    border-radius: 5px;
}
h1 {
    font-family: 'Crete Round', serif;
    color: #000;
}
p, a {
    font-family: 'Actor', sans-serif;
    color: #000;
}
h1 {
    font-size: 2em;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
a {
    font-weight: bold;
}
section {
    position: absolute;
    top: 10%;
    left: 5%;
}
.credit, .credit a {
    background-color: transparent;
}
@media (min-width: 180px) and (max-width: 329px) {
    p {
        font-size: 1.3em;
    }
    h1 {
        font-size: 2.3em;
    }
    section {
        width: 90%;
    }
    .credit {
        display: none;
    }
}
@media (min-width: 330px) and (max-width: 555px) { 
    p {
        font-size: 1.2em;
    }
    h1 {
        font-size: 2.2em;
    }
    section {
        width: 80%;
    }
}
@media (min-width: 556px) and (max-width: 767px) { 
    p {
        font-size: 1.1em;
    }
    h1 {
        font-size: 2.1em;
    }
    section {
        width: 50%;
    }
}
@media (min-width: 768px) and (max-width: 979px) { 
    section {
        width: 50%;
    }
}
@media (min-width: 980px) { 
    section {
        width: 28%;
    }
}